server:
  port: 8888
spring:
  application:
    name: gateway-server
  datasource:
    url: jdbc:mysql://localhost:3306/sca-gateway?characterEncoding=utf8&serverTimezone=GMT%2b8
    username: root
    password: 123456
  servlet:
    profiles:
      active: pro
  jpa:
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
    profiles:
      active: pro
    jackson:
      date-format: yyyy-MM-dd HH:mm:ss
      time-zone: GMT+8
      default-property-inclusion: non-null
      serialization:
        indent-output: true
        fail-on-empty-beans: false
      deserialization:
        fail-on-unknown-properties: false
      parser:
        allow-unquoted-control-chars: true
        allow-single-quotes: true
feign:
  hystrix:
    enabled: true
logging:
  level:
    root: info
  path: C:/LOGS/SpringCloudAdmin/gateway/
cloud:
  gateway:
    discovery:
      locator:
        enabled: true
eureka:
  client:
    service-url:
      defautZone: http://localhost:8761/eureka/
      registry-fetch-interval-seconds: 10
      instance-info-replication-interval-seconds: 10